@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animation-delay-2000 {
      animation-delay: 2s;
    }
    .animation-delay-4000 {
      animation-delay: 4s;
    }
  }

  .mask{

    mask-image: url('../../public/mask.svg');

    mask-repeat: no-repeat;

    mask-size: 40px;

    background: #ec4e39;

    position: absolute;

    color: black;

  }
