@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "MetroPhotograph";
  src: url("../../public/fonts/MetroPhotograph-DemoVersion-Regular.otf");
}

@font-face {
  font-family: "Arcane Nine";
  src: url("../../public/fonts/Arcane\ Nine.otf");
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../../public/fonts/BebasNeue-Regular.ttf");
}

@layer utilities {
    .animation-delay-2000 {
      animation-delay: 2s;
    }
    .animation-delay-4000 {
      animation-delay: 4s;
    }
  }

  .mask{

    mask-image: url('../../public/mask.svg');

    mask-repeat: no-repeat;

    mask-size: 40px;

    background: #ec4e39;

    position: absolute;

    color: black;

  }
