@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "MetroPhotograph";
  src: url("../../public/fonts/MetroPhotograph-DemoVersion-Regular.otf");
}

@font-face {
  font-family: "Arcane Nine";
  src: url("../../public/fonts/Arcane\ Nine.otf");
}

@font-face {
  font-family: "Caveat";
  src: url("../../public/fonts/Caveat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../../public/fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "Black Flag";
  src: url("../../public/fonts/BlackFlag.ttf");
}

@keyframes orbit {
  0% {
    transform: rotate(calc(var(--angle) * 1deg))
      translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
  }
  100% {
    transform: rotate(calc(var(--angle) * 1deg + 360deg))
      translateY(calc(var(--radius) * 1px))
      rotate(calc((var(--angle) * -1deg) - 360deg));
  }
}

@layer utilities {
  .animate-orbit {
    animation: orbit calc(var(--duration) * 1s) linear infinite;
  }
}

@layer utilities {
    .animation-delay-2000 {
      animation-delay: 2s;
    }
    .animation-delay-4000 {
      animation-delay: 4s;
    }
  }

  .mask{

    mask-image: url('../../public/mask.svg');

    mask-repeat: no-repeat;

    mask-size: 40px;

    background: #ec4e39;

    position: absolute;

    color: black;

  }
