.circle {
    position: fixed;
    display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: center;
    top: 0;
    left: 0;

    background-color: #170e09;
    pointer-events: none;
    text-align: center;

  }

  .container {
    display: flex;
    flex-flow: row;
    width: 100vw;

    align-items: center;
    justify-content: space-around;
  }